<!DOCTYPE html>
<html>
  <head>
    <title>Projeto-Banco-II</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="javascript/mapa.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>