  


    <div id="form">
        <form action="/list" method="post">
        <div id="arealogo">
        <h1 class="logo">Onde é <span>Hoje?</span></h1>
        <button type="submit" class="list">Veja lista de eventos</button>
        </div>
            <div id ="teste">
                <label for="name">Nome:</label>
                <input type="text" id="nome" name="nome"/>
                <label for="value">Valor:</label>
                <input type="text" id="valor" name="valor"/>
                <label for="org">Organização:</label>
                <input type="text" id="org" name="org"/>
                <label for="date">Data:</label>
                <input type="text" id="data" name="data" placeholder="DD/MM/AAAA"/>
            </div>
          
        </form>
            <div id="button-area">
                <button type="button" id="salvar" onclick="salvar()">Salvar</button>
                
            </div>
    </div>

    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly"
      async
    ></script>
