    <h1 class="logo">Onde é Hoje?</h1>

    <div id="map"></div>

    <div id="form">
        <form action="/list" method="post">
            <div id ="teste">
                <label for="name">Nome:</label>
                <input type="text" id="nome" name="nome"/>
                <label for="value">Valor:</label>
                <input type="text" id="valor" name="valor"/>
                <label for="org">Organização:</label>
                <input type="text" id="org" name="org"/>
                <label for="date">Data:</label>
                <input type="text" id="data" name="data" placeholder="dd/mm/aaaa"/>
            </div>
            <div id="button-area">
                <button type="button" onclick="salvar()">Salvar</button>
                <button type="submit">Lista</button>
            </div>
        </form>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly"
      async
    ></script>
