@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Rubik:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Fascinate&display=swap');
:root{
  --primary-color:#1d7c77;
  --white:#fff;
  --light-white:rgb(204, 204, 204);
  --black:#3d3d3d;
  --light-bg:#4b4b4b;
}


#map {
  width: 50%;
  height: 100%;
  float:right;

}

#mapLocal {
  width: 50%;
  height: 90%;
  float:left;
  margin-left: 10px;
  margin-bottom: 10px;
}

#form{
  float: right;
  position: absolute;
}

label{
  color: var(--light-white);
  display: flex;
  font-size: 30px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}

input{
  font-family: 'Fascinate', cursive;
  background: var(--light-white);
  display: flex;
  font-size: 20px;
  margin: auto;
  border-radius: 10px;
  text-align:center;
  width:300px;
  height: 25px;
}

label{
  font-family: 'Fascinate', cursive;
}

button{
  font-family: 'Fascinate', cursive;
  background: var(--light-bg);
  color: var(--primary-color);
  position:relative;
  display: inline-flex;
  font-size: 20px;
  margin: 5px;
  margin-top: 25px;
  padding: 3px 9px;
  font-size: 1.2rem;
  border-radius: 10px;
  transform: translateX(0) scale(1);
}

h1{
  color: var(--white);
  font-size: 25px;
}

p{
  color: var(--white);
  font-size: 15px;
}

#list{
  background-color:var(--black);
  display: flex;
  margin: auto;
  margin-bottom: 20px; 
  padding: 15px;
  flex-direction: column;
  align-items: center;
  width: 600px;
}
a{
  color:var(--primary-color);
}

button:hover,
button:focus {
  background: var(--primary-color);
  transform: scale(1.2);
  transform:scale(1.1);
  color: var(--light-bg);
  
}
      
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--light-bg);
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

*{
  font-family: 'Roboto Condensed', sans-serif;
  margin:0; 
  padding:0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  transition: .2s linear;
}

.logo{
  font-family: 'Fascinate', cursive;
  text-align: right;
  font-size: 2rem;
  color:var(--light-white);
  margin-left: 5px;
}

span{
  color: var(--primary-color);
  font-family: 'Fascinate', cursive;
}
#button-area {
  margin-left: 580px;
}


::-webkit-scrollbar{
  height: .5rem;
  width: .5rem;
}


::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: var(--primary-color);
  border-radius: 5rem;
}

.list{ 
  position: absolute;
  bottom: -45px;
  margin-bottom: 25px;
  background: none;
  color: var(--primary-color);
  text-align: left;
  font-size: 1rem;
  font-family: 'Rubik';

}

.list:hover{
  background: none;
  transform: none;
  color: var(--primary-color);
  transform: none;
  cursor: pointer;
 
}

#arealogo{
  display: flex;
  text-align: left;
  margin-top: 10px;
  margin-right: 5px;
}

#teste{
  position: absolute;
  left: 180px;
  bottom:-420px;
  
}
#salvar{
  text-align: right;
  position: absolute;
  right: 100px;
  bottom:-480px;
  font-family: 'Fascinate', cursive;


}

#titulolista{
  text-align: center;
}

